.profile-body {
  display: flex;
  width: 100%;
  flex: 1;
  height: 96.3%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.profile-container {
  width: 100%;
  height: 100vh;
}

.profile-sidebar {
  display: flex;
  flex: 1;
}

.profile-rightFold {
  display: flex;
  column-count: 2;
  flex: 11;
}

.rightFold {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-container {
  padding: 0.75em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 600px;
  flex-direction: row;
}

.menu-option {
  padding: 10px; /* add some padding to each option */
  background-color: #ccc; /* add some background color */
}

/*Controls the options appearance*/
.menu-option a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.menu-option a:hover {
  color: blue;
  cursor: pointer;
  transform: scale(1.2);
}

.option-active {
  color: #6264a7;
  border-bottom: 4px solid #6264a7;
}

.content-container {
  position: relative;
  margin-left: 15px;
  width: 50%;
  height: 100%;
  transition: all 0.5s ease-in;
  
}


/*Allows the Menu-buttons to be clicked and change the content*/
.tabShow{
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    
}

h1 {
  color: blue;
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 35px;
}

h2 {
  color: #777;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 2px;
  margin-top: 10px;
}

.input, p {
  border: 0;
  border-bottom: 1px solid #3fb6a8;
  width: 50%;
  font-size: 0.8em;
  padding: 7px 0;
  color: #070707;
  outline: none;
}

.btn {
  text-transform: uppercase;
  font-size: 15px;
  border: 0;
  color: #fff;
  background: blue;
  padding: 7px 15px;
  cursor: pointer;
}
